@import url('https://fonts.googleapis.com/css2?family=Jersey+15&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Jersey+15&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans:ital@0;1&family=Inconsolata:wght@200..900&family=Jersey+15&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  display: flex;
  justify-content: center; 
  align-items: center;
  text-align: center; 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bg1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./backgrounds/background1.png');
  background-size: cover; 
  background-position: center;
  z-index: -1;
}

.bg2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./backgrounds/background2.png');
  background-size: cover; 
  background-position: center; 
  z-index: -1;
}

.bg3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  background-image: url('./backgrounds/background3.png');
  background-size: cover; 
  background-position: center; 
  z-index: -1;
}

.plainbg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  background-color: #DFF7FB;
  background-size: cover; 
  background-position: center;
  z-index: -1;
}


.title {
  width: calc(500/1920*100vw);
  height: calc(182/1080*100vh);
  flex-shrink: 0;
  color: #000;
  text-align: center;
  font-family: "Jersey 15", serif;
  font-size: calc(120/1920*100vw);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.text {
  color: #9B9797;
  font-family: "Inconsolata", serif;
  font-size: calc(30/1920*100vw);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: calc(450/1920*100vw)
}

.button-div {
  border-radius: 10px;
  border: 1px solid black;
  background: linear-gradient(87deg, #83E38C -9.05%, #71C5CF 97.61%);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  width: calc(300/1920*100vw);
  height: calc(100/1080*100vh);
  flex-shrink: 0;
  color: #000;
  font-family: "Jersey 15", serif;
  font-size: calc(45/1920*100vw);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.other-button {
  font-family: "Inclusive Sans", serif;
  font-size: calc(30/1920*100vw);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
  margin-top: 30px;
}

.underline {
  stroke-width: 3px;
  stroke: #000;
  width: calc(499.5/1920*100vw);
  height: 0px;
  flex-shrink: 0;
  margin-top: 10px; 
}

.white-container {
  width: calc(748/1920*100vw);
  height: calc(835/1080*100vh);
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  padding: 0; 
  border-radius: 29px;
  background: #FFF;
  box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.25);
}

.inputs {
  margin-top: -20px;
}

.input {
  margin-top: 20px;
  margin-bottom: 10px;
}

.corner-logo {
  position: absolute;
  top: calc(53/1080*100vh);  
  right: calc(111/1920*100vw);  
  width: calc(289/1920*100vw);
  height: auto;
  flex-shrink: 0;
}

.centered-logo {
  position: absolute;
  display: flex;
  align-items: center; 
  justify-content: center;
  
  top: calc(79 / 1080 * 100vh);
  left: 50%;
  transform: translateX(-50%);

  width: calc(713 / 1920 * 100vw);
  height: auto;
  flex-shrink: 0;
  margin-bottom: 20px;
}

.game-div {
  position: absolute;
  display: flex;
  align-items: center; 
  justify-content: center;
  background-color: #9B9797;
  top: calc(56 / 1080 * 100vh);
  left: calc(57.5 / 1920 * 100vw);
  width: calc(1805/1920*100vw);
  height: calc(514/1080*100vh);
  flex-shrink: 0;
}

.alpha-div {
  position: absolute;
  display: flex;
  align-items: center; 
  justify-content: center;
  background-color: #000;
  top: calc(619 / 1080 * 100vh);
  left: calc(57.5 / 1920 * 100vw);
  width: calc(713/1920*100vw);
  height: calc(408/1080*100vh);
  flex-shrink: 0;
}

.alpha-div1 {
  position: absolute;
  display: flex;
  align-items: center; 
  justify-content: center;
  background-color: #6B6B6B;
  border-radius: 27px;
  border: 1px solid #FFF;
  top: calc(674 / 1080 * 100vh);
  left: calc(250 / 1920 * 100vw);
  width: calc(329/1920*100vw);
  height: calc(297/1080*100vh);
  flex-shrink: 0;
}

.alpha-char {
  position: absolute;
  display: flex;
  align-items: center; 
  justify-content: center;
  background-color: #6B6B6B;
  border-radius: 27px;
  border: 1px solid #FFF;
  top: calc(674 / 1080 * 100vh);
  left: calc(250 / 1920 * 100vw);
  width: calc(100/1920*100vw);
  height: calc(100/1080*100vh);
  flex-shrink: 0;
}


.screen-div {
  position: absolute;
  display: flex;
  align-items: center; 
  justify-content: center;
  background-color: #9B9797;
  top: calc(619 / 1080 * 100vh);
  left: calc(825 / 1920 * 100vw);
  width: calc(1038/1920*100vw);
  height: calc(408/1080*100vh);
  flex-shrink: 0;
}

#board {
  /* background-color: skyblue; */
  background-image: url("./images/flappybirdbg.png");
}